.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}


.header {
  width: 80%;
  height: 75px;
  border: 2px solid black;
  margin: 10px 0px 1px 0px;
  background-color: rgb(168, 168, 245);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}


.header-title {
  text-decoration: underline;
}

.header-users-count {
  text-decoration: underline;
}

.header-messages-count {
  text-decoration: underline;
}

.header-last-message-date {
  text-decoration: underline;
}

.message {
  background-color: rgb(151, 151, 255);
  margin: 10px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.message-text {
  width: 30%;
}

.message-time {
  text-decoration:overline;
}

.message-like {
  background-color: red;
}

.message-user-name {
  text-decoration: none;
}

.message-user-avatar {
  width: 50px;
  height: 50px;
} 

.own-message {
  margin: 10px 0px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(151, 255, 156);
}


.message-edit {
  width: 40px;
  height: 25px;
}

.message-delete {
  height: 20px;
}

.message-list {
  width: 80%;
  height: 450px;
  border: 2px solid black;
  margin-bottom: 10px;
  background-color: rgb(213, 213, 243);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}


.messages-divider {
  color: black;
}

.message-input {
  width: 80%;
  height: 125px;
  border: 2px solid black;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.message-input-text {
  height: 80%;
  width: 80%;
}

.message-input-button {
  width: 60px;
  height: 25px;
}

.preloader {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .preloader {
    animation: preloader-logo-spin infinite 1s linear;
  }
}

@keyframes preloader-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  display: inline;
}